{% extends 'back/base.html.twig' %}

{% block body %}

    {% if  app.request.get('status_msg') is defined %}
        <div class="upload-message">
            <p>
                {{ app.request.get('status_msg') }}
            </p>
        </div>
    {% endif %}
    <h1>Comment edit</h1>

    <form method="GET" action="{{ path('check_upload_status') }}">
    <div class="form-group">
        <label>Prikazite ili uklonite formu za unos fajlova sa sajta.</label><br><br>
        <select name="check">
            <option value="0" >Nevidljiv na sajtu</option>
            <option value="1" >Vidljiv na sajtu</option>
        </select>
    </div>
    <i class="fa fa-pencil move-right" style="color:white; right:-10px;"></i><input type="submit" value="Edit" style="position:relative; left: -10px!important;" class="btn btn-primary btn-create btn-move-fafa"/>
    </form>
{% endblock %}