{# empty Twig template #}
<div class="card my-4">
    <h5 class="card-header">Proveri svoje znanje, <br>
        odigraj jedan kviz!</h5>
    <div class="card-body">
        <ul class="quiz-links">

            {% for quiz in quizzes %} 
                {# dump(quiz) #}
                <li class="quiz-links-margins">
                    <a href="{{ path('quiz', { 'id': quiz.id }) }}" class="fire-new ap">{{ quiz.quizName }}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
</div>