{% extends 'front/base.html.twig' %}

{% block body %}
<h4>Драги ђаци, колеге и још по неко...</h4>

<p>Овај блог сам замислио као место где ће пре свега моји ђаци, али и сви остали, моћи да пронађу
по нешто што ће им помоћи у учењу историје, припреми зе тестове, такмичења, презентације и друго. 
Није страшно погледати шта су други урадили, какви све тестови постоје и како други раде презентације.
Страшно је то не надоградити ничим својим. Користите се свим садржајима на сајту имајући то на уму.
<br><br>
Шаљите материјал! Одавде ћете увек моћи да га узмете назад или да узмете други који је неко други поставио.
Ја ћу поставити све своје за шта верујем да вреди. Ако мислите да имате или можете боље биће ми драго да то покажете. 
Овим се обраћам и ђацима и колегама. Материјал неће одмах бити видљив, мораће да прође највише један дан.
<br><br>
Уколико неко жели да учествује у овоме, добродошао је. Волео бих да поделим са колегом вођење сајта. Није то неки посао али
подела посла је увек добродошла. Ја бих тако могао да се бавим даљим унапређивањем, програмирањем што би додатно 
побољшало сајт.
<br><br>
Ако имате идеје или предлоге одмах их саопштите у коментарима или ако је мало дуже у одељку контакт. Слободно пишите шта год
вам падне на памет. Најбоље идеје понекад дођу изненада.
<br><br>
Срећно! 
Жељко Милорадовић
</p>


{% endblock %}
