{% extends 'front/base.html.twig' %}

{% block body %}
    <h4>Драги ђаци</h4>

    <p>Овај блог је замишљен као место размене материјала.
    Није страшно погледати шта су други урадили, какви све тестови постоје и како други праве презентације.
    Страшно је то не надоградити ничим својим. Користите се свим садржајима на сајту имајући то на уму.
    <br><br>
    Шаљите материјал! Одавде ћете увек моћи да га узмете назад или да
    узмете други који је неко други поставио.
    Ако мислите да имате или можете боље биће ми драго да то покажете.
    Материјал неће одмах бити видљив, мораће да прође највише један дан.
    <br><br>
    Ако имате идеје или предлоге одмах их саопштите у коментарима или ако је мало дуже у одељку контакт.
    Слободно пишите!
    <br><br>
    Срећно!
    </p>
{% endblock %}
