{% extends 'front/base.html.twig' %}
{% block body %}

    <div>
        <h4 id="video-title">{{ video.title }}</h4>
        <iframe id="video-frame" 
                src="{{ video.path }}"
                frameborder="0" allowfullscreen >
        </iframe>
    </div>
{% endblock %}
