{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Comment creation</h1>

    {{ form_start(form_comment) }}
        {{ form_widget(form_comment) }}
        <i class="fa fa-plus move-right" style="color:white; right:-10px;"></i><input type="submit" value="Create" style="position:relative; left: -10px!important;" class="btn btn-primary btn-create btn-move-fafa"/>
    {{ form_end(form_comment) }}

    <ul class="buttons">
        <li>
            <a href="{{ path('comment_index') }}" style="margin-left: -40px !important;" class="btn btn-primary fixed_left"><i class="fa fa-list"></i>Back to the list</a>
        </li>
    </ul>
{% endblock %}
