{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Izmeni Kategoriju</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {% include 'back/common/edit_button.html.twig' %}
    {{ form_end(edit_form) }}

    <ul class="buttons">
        <li>
            <a href="{{ path('category_index') }}" class="btn btn-primary fixed_left back-to-list-button">
                <i class="fa fa-list"></i>
                Nazad na listu kategorija
            </a>
        </li>
        <li>
            {% block delete_button %}
                {% include 'back/common/delete_button.html.twig' %}
            {% endblock %}
        </li>
    </ul>
{% endblock %}
