{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <i class="fa fa-plus move-right new-create-plus-icon"></i>
        <input type="submit" value="Create" class="btn btn-primary btn-create"/>
    {{ form_end(form) }}

    <ul class="buttons">
        <li>
            <a href="{{ path('category_index') }}" class="btn btn-primary fixed_left back-to-list-button">
                <i class="fa fa-list"></i>
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
